<!DOCTYPE html>
<html>
  <head>
    <title>RailsExampleTodolist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <ul>
        <li><%= link_to "Index", tasks_path %></li>
        <li><%= link_to "Time", time_path %></li>
    </ul>
  </nav>
    <%= yield %>
  </body>
</html>
